.button {
  background: $blue;
  color: white;
  display: inline-block;
  border: none;
  padding: $s-size;
  font-weight: 300;
  font-size: $font-size-large;
  text-decoration: none;
  line-height: 1;
  transition: background .3s ease;
}

.button:not(.button--link):hover {
  background: darken($blue, 5);
}

.button--link {
  background: none;
}


.button--secondary {
  background: #888888;
}